#buttonSubmit{
    background-color: #ea2674;
    color: aliceblue;
    border: 0px;
    font-size: 28px;
    width: 
    250px;
    height: 60px;
}
.wishwish{
    color: white;
    border-radius: 50%;
    border:1.5px solid rgb(236, 203, 220);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    top: 190px;
    left:560px;
    cursor: pointer;
    font-size: 45px;
    font-weight: bolder;
    cursor: pointer;
}
.wishwish:hover{
    color: #ea2674;
    border:1.5px solid rgb(218, 64, 144);
}
#wishlist-btn.clicked{
    color: #ea2674;
}
#wishlist-btn2.clicked{
    color: #ea2674;
}
#wishlist-btn3.clicked{
    color: #ea2674;
}
#wishlist-btn4.clicked{
    color: #ea2674;
}
#wishlist-btn5.clicked{
    color: #ea2674;
}
#wishlist-btn6.clicked{
    color: #ea2674;
}
#wishlist-btn7.clicked{
    color: #ea2674;
}
#wishlist-btn8.clicked{
    color: #ea2674;
}

.counting-click{
    position: absolute;
    border-radius: 50%;
 border: 2px solid grey;
 background-color: gray;
 color: aliceblue;
 padding-left: 5px;
 padding-right: 5px;
   left: 60px;
    font-size: 25px;;
}
.count-btn{
    position: absolute;
    top:700px;
    left: 1400px;
}
.theme-check{
    text-decoration: underline;
    color: #0a44f1;
}
.theme-check:hover{
    padding: 0px;
    background-color: #e4e9f8;
}


.dropbtn {
   border: none;
   background-color: white;
   font-size: 14px;
   font-weight: bold;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1b5b5;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  #message{
    font-size: 25px;
    font-style: italic;
    margin-bottom: 20px;
    position: relative;
    left: 1200px;
  
    color: rgb(92, 17, 48);
    height: 40px;
    width:240px;
    padding-top:2px;
    text-align: center;
  }